{% extends 'app/base_site.html' %} {% load staticfiles %} {% load poll_extras %} {% block content %}
<div class="right_col" role="main">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_title">
                <h3>Список проблем</h3>
            </div>
            <div class="table-responsive">
                <table id="servertable" class="table table-striped table-bordered">
                    <div class="x_content">
                        <thead>
                            <tr>
                                <th>Хост</th>
                                <th>id</th>
                                <th>Проблема</th>
                                <th>Текущее значение</th>
                                <th>Нормальное значение</th>
                                <th>Время алерта</th>
                                <th>Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for alarm in alarms %}
                                {% if alarm.check_alert.level_alert == 3 %}
                                    <tr style="background:#f92048; color: #000000">
                                {% elif alarm.check_alert.level_alert  == 2 %}
                                    <tr style="background:#f0b700; color: #000000">
                                    {% else %}
                                    <tr>
                                {% endif %}
                                <td>{{ alarm.id }}</td>
                                <td>{{ alarm.check_alert.node.hostname }}</td>
                                <td>{{ alarm.check_alert.field_check }}</td>
                                <td>{{ alarm.check_alert.value_check }}</td>
                                <td>{{ alarm.check_alert.get_compare_oper_values_display }} {{ alarm.check_alert.value_alarm }}</td>
                                <td>{{ alarm.datetime_add|timerange }}</td>
                                <td><a href="#">в работе </a>
                                <a href="{% url 'cm_disable' alarm.check_alert.id %}">отключить</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </div>
                </table>
            {# .... **Now the pagination section** .... #}


{# .... **More content, footer, etc.** .... #}
            </div>
        </div>
    </div>
</div>
{% block javascripts %} {% load staticfiles %} {{ block.super }} {% endblock %} {% endblock %}